<table>
    <tr>
        <td>
            姓名
        </td>
        <td>
            職稱
        </td>
        <td>
            學歷
        </td>
        <td>
            兼任職務
        </td>
        <td>
            學術活動(受聘演講)
        </td>
        <td>
            學術活動(邀請國內外學者)
        </td>
        <td>
            專長及研究領域
        </td>
        <td>
            開授課程
        </td>
        <td>
            電子信箱
        </td>

    </tr>

    <% for(var i=0; i< data.length; i++) { %>

        <tr>
            <td>
                <%= data[i]["姓名"] %>
            </td>
            <td>
                <%= data[i]["職稱"] %>
            </td>
            <td>
                <%= data[i]["學歷"] %>
            </td>
            <td>
                <%= data[i]["兼任職務"] %>
            </td>
            <td>
                <%= data[i]["學術活動"]["A. 受聘演講"] %>
            </td>
            <td>
                <%= data[i]["學術活動"]["B. 邀請國內外學者"] %>
            </td>
            <td>
                <%= data[i]["專長及研究領域"] %>
            </td>
            <td>
                <%= data[i]["開授課程"] %>
            </td>
            <td>
                <%= data[i]["電子信箱"] %>
            </td>
        </tr>

    <% } %>


</table>
